<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meine Anwendung</title>
</head>
<body>
  <h1>Hallo </h1>
  hallo {{ name }}
  <ul>
    <li>{{ tier1 }}</li>
    <li>{{ tier2 }}</li>
  </ul>
</body>
</html>