<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    Hallo
    @if(vorname)
    {{ vorname }}
    @else
    Vorname fehlt
    @endif


    @if(nachname)
    {{ nachname }}
    @else
    Nachname fehlt
    @endif
</body>

</html>