<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OMM Blog</title>
  @vite(['resources/css/style.css'])
</head>

<body>
  @let(page='home')
  @include('partials/menu')
  <main>
    <h1>Mein Blog</h1>
    @if(login === undefined)
    <a href="/login">Anmelden</a>
    @else
    Hallo {{firstname}} {{ lastname}}<br>
    <a href="/post/create">neuer Post</a>
    <a href="/logout">Abmelden</a>
    @end

    @each(post in posts)
    <p>
    <h2>{{ post.title }}</h2>
    <div>{{ post.teaser }} <a href="/post/{{ post.id }}"> mehr...</a></div>
    </p>
    @end

    @include('partials/footer')
  </main>
</body>

</html>