<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
      @include('partials/menu')
    @if(post != undefined)
    <h1>{{ post.title }}</h1>
    <p>
        <img src="{{ await driveUrl(post.image, 'fs')}}" height="300" alt="{{post.title}}">
    </p>
    <p>
        {{ post.teaser }}
    </p>
    <p>
        {{ post.text}}
    </p>
    <p>
        <span>{{ new Date(post.date).toLocaleDateString() }}</span>
        <p>Artikel von: {{ author.firstname }} {{ author.lastname }}</p>
    </p>
    @else
    <h1>Beitrag nicht gefunden</h1>
    @end
    <p>
        <a href="/">zurück</a>
    </p>
    @if(login != undefined)
    <p>
        <a href="/edit/{{ post.id }}">bearbeiten</a>
    </p>
    @end
     @include('partials/footer')
</body>

</html>