@import url('https://fonts.googleapis.com/css2?family=The+Girl+Next+Door&display=swap');

body, html {
   padding: 0px;
    margin:0px;
    font-family: 'The Girl Next Door';
}


nav{
    width: 100vw;
  
}
nav ul {
    width: 100%;
    margin:0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
}
nav ul li{

    list-style: none;
    flex-grow: 1;
    background-color: gray;
    height: 35px;
 
}
nav ul li a{
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    
}
nav ul li a:hover{
    background-color: rgb(149, 145, 145);
}
main{
    padding: 10px;
}
.active{
    background-color: rgb(149, 145, 145);
}
.active:hover{
    background-color: rgb(149, 145, 145);
}